body {
  font-family: "The Girl Next Door", cursive;
  background-color: #27296d;
}

h1 {
  color: #f5c7f7;
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(154, 160, 166);
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

li::first-letter {
  text-transform: capitalize;
}

small {
  color: #a393eb;
}

.weatherapp-wrapper {
  max-width: 800px;
  max-height: 1500px;
  margin: 50px auto;
}

.weatherapp {
  padding: 20px;
  border: 2px solid #27296d;
  border-radius: 5px;
  background-image: url("../img/space.jpg");
  background-size: cover;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  color: rgb(232, 234, 237);
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -25px;
}

.weather-temperature .active {
  color: rgb(232, 234, 237);
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 28px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 23px;
  color: #f5c7f7;
}

.weather-forecast-temperatures {
  font-size: 26px;
  color: rgb(232, 234, 237);
  font-weight: bold;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.btn-primary {
  color: rgb(232, 234, 237);
  background-color: #a393eb;
}
