body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(232, 234, 237);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(154, 160, 166);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weatherapp-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weatherapp {
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(232, 234, 237);
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
