body {
  font-family: "The Girl Next Door", cursive;
}

h1 {
  color: #f5c7f7;
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(154, 160, 166);
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

li::first-letter {
  text-transform: capitalize;
}

.weatherapp-wrapper {
  max-width: 600px;
  max-height: 900px;
  margin: 30px auto;
}

.weatherapp {
  padding: 20px;
  border: 1px solid #27296d;
  border-radius: 5px;

  background-image: url("../img/space.jpg");
  background-size: cover;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(232, 234, 237);
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(232, 234, 237);
  cursor: default;
  text-decoration: none;
}

.btn-primary {
  color: rgb(232, 234, 237);
  background-color: #a393eb;
}
